.main-div{
  width: 50%;
}
.card-header {
  background-color:  #d0bde0;
  font-size: large;
}
.input-group {
  position: relative;
  display: contents;
  flex-wrap: wrap;
  align-self: center;
}
legend
		{
			font-size:14px;
			font-weight:bold;
			margin-bottom: 0px;
			width: 35%;
			border: 1px solid #ddd;
			border-radius: 4px;
			padding: 5px;
			background-color: #ffffff;
		}
@media only screen and (min-width : 576px) {

}

@media only screen and (min-width : 768px) {
.form-group{
  margin-left: 0px;
  margin-right: 0px;
}
}

@media only screen and (min-width : 992px) {

}
@media only screen and (min-width : 1200px) {
}
